<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="Db1" connectionString="Server=FAREED\SQLEXPRESS;Database=ACCOUNT19;User Id=web;Password=sqlPass;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MongoCon" value="mongodb://mongoUser:mongoPass@cluster0-shard-00-00.k6lme.mongodb.net:27017,cluster0-shard-00-01.k6lme.mongodb.net:27017,cluster0-shard-00-02.k6lme.mongodb.net:27017/myFirstDatabase?ssl=true&amp;replicaSet=atlas-9yuzik-shard-0&amp;authSource=admin&amp;retryWrites=true&amp;w=majority"/>
    <add key="MongoUser" value="qaisar"/>
    <add key="DbName" value="fsp1"/>
    <add key="Language" value="CSharp"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
